:root {
  --dark: #495464;
  --bright: #f4f4f2;
  --middle1: #e8e8e8;
  --middle2: #bbbfca;
}

body {
  background: var(--dark);
  margin: 0;
  padding: 0;
}

.header {
  background: var(--bright);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.2em;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15pt;
  color: var(--dark);
}

.container {
  display: grid;
  height: 930px;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 50% auto 50px;
  overflow: hidden;
}

.item-a {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--bright);
}

.item-a h1 {
  font-size: 60px;
}

.item-a p {
  font-size: 25px;
}

.item-b {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: hidden;
  background: rgb(255, 72, 40);
}

.item-b input {
  width: 100%;
}

.item-b input:hover {
  width: 95%;
}
