:root {
  --dark: #222525;
  --bright: #f4f9f9;
  --middle1: #ccf2f4;
  --middle2: #a4ebf3;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./BG1.png");
}

#firstContainer {
  display: flex;
}

#mainDesc {
  color: var(--dark);
  width: 100%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mainDesc > h1 {
  margin: 0;
  margin-top: 15rem;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
  background-image: url("./BG_Title.png");
  border-bottom: 3px solid;
  border-image-source: linear-gradient(90deg, var(--dark) 0%, var(--middle2) 100%);
  border-image-slice: 1;
}

#mainDesc > p {
  margin: 0;
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 50px;
}

#mainContent {
  width: 100%;
  margin-top: 15rem;
  margin-bottom: 5rem;
}

#mainContent > button {
  display: table-cell;
  width: 100%;
  height: 550px;
  margin-bottom: 1em;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  background-image: url("./Project_RotatingCube.jpg");
}

.buttonOverlay {
  margin: 0;
  width:100%;
  height: 100%;
  background-color:#000;
  opacity: 0.0;
  transition: 0.3s;
  color: var(--bright);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttonOverlay:hover {
  opacity: 0.75;
}

.buttonOverlay > h1 {
  margin: 0;
  font-size: 50px;
}

.buttonOverlay > p {
  font-size: 25px;
}

